<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCPbPIIjQ4oA88785WfRlIyw-_RqLnZrW0</string>
	<key>GCM_SENDER_ID</key>
	<string>293941360761</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hypeteq.fitnessapp</string>
	<key>PROJECT_ID</key>
	<string>baya-67ff1</string>
	<key>STORAGE_BUCKET</key>
	<string>baya-67ff1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:293941360761:ios:7c46b2f7a1466fb1433ca8</string>
</dict>
</plist>